@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&family=Merriweather:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  outline: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: #eaedf5;
}

.feedback-modal {
  width: 567px;
  background: #fff;
  border-radius: 15px;
  padding: 105px 80px 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .modal-close-btn {
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: #eaedf5;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h3 {
    font-family: "Merriweather", sans-serif;
    font-size: 22px;
    margin-bottom: 10px;
  }


  .feedback-form {
    > li {
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }

      .title{
        font-size: 18px;
        font-weight: 500;
        padding-bottom: 10px;
        display: block;
        &.no-bold{
          font-weight: normal;
        }
      }
      textarea {
        height: 150px;
        border-radius: 5px;
        border: 1px solid #a9b2ca;
        width: 100%;
        resize: none;
        padding: 20px;
        font-size: 16px;
        &:focus {
          border-color: #3b70ff;
        }

      }

      .radio-group{
        display: flex;
        padding-top: 15px;
        align-items: center;

        .radio{
          display: flex;
          align-items: center;
          margin-right: 55px;
          cursor: pointer;

          &:last-child {
            margin-right: 0;
          }

          .radio-btn{
            width: 27px;
            height: 27px;
            border-radius: 50%;
            border: 1px solid #a9b2ca;
            min-width: 27px;
            margin-right: 15px;
            position: relative;
            &::before {
              content: '';
              width: 13px;
              height: 13px;
              border-radius: 50%;
              background: #3b70ff;
              position: absolute;
              top:50%;
              left:50%;
              transform: translate(-50%, -50%);
              display:none;

            }
          }
          .radio-text {
            font-size: 16px;
          }
          input {
            display:none;
            &:checked + .radio-btn {
              &::before {
                display:block;
              }
            }
          }
        }
      }

      .actions {
        display: flex;
        justify-content: space-between;
        button {
          width: 199px;
          height: 65px;
          border-radius: 5px;
          border:1px solid #a9b2ca;
          background:transparent;
          font-size: 18px;
          color: #717b94;
          font-weight: 600;
          cursor: pointer;
          &[type="submit"] {
            background: #3b70ff;
            color:#fff;
            border-color: #3b70ff;
          }
        }
      }
      ul {
        display: flex;
        padding-top: 24px;
        li {
          label {
            cursor: pointer;
            input {
              display: none;
              &:checked + .box {
                background: #eaedf5;
                .face-bg {
                  fill: #ebb34b;
                  &.rank1{
                    fill:#ff4444;
                  }
                  &.rank2{
                    fill:#ff7f44;
                  }
                  &.rank4{
                    fill:#cdff44;
                  }
                  &.rank5{
                    fill:#05fd64;
                  }
                }
              }
            }
            .box {
              width: 75px;
              height: 75px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}
